<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <!--
    <filter>
        <filter-name>RequestFilter</filter-name>
        <filter-class>com.intelsoft.filters.RequestFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RequestFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    -->
    <servlet>
        <servlet-name>LoginValidator</servlet-name>
        <servlet-class>com.intelsoft.action.LoginValidator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PassValidator</servlet-name>
        <servlet-class>com.intelsoft.action.PassValidator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupValidator</servlet-name>
        <servlet-class>com.intelsoft.action.SignupValidator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SecurityLoginValidator</servlet-name>
        <servlet-class>com.intelsoft.action.SecurityLoginValidator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccountValidator</servlet-name>
        <servlet-class>com.intelsoft.action.CreateAccountValidator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BalanceProvider</servlet-name>
        <servlet-class>com.intelsoft.action.BalanceProvider</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransactionProvider</servlet-name>
        <servlet-class>com.intelsoft.action.TransactionProvider</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateFDValidator</servlet-name>
        <servlet-class>com.intelsoft.action.CreateFDValidator</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginValidator</servlet-name>
        <url-pattern>/LoginValidator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PassValidator</servlet-name>
        <url-pattern>/passvalidate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupValidator</servlet-name>
        <url-pattern>/signupvalidate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SecurityLoginValidator</servlet-name>
        <url-pattern>/SecurityLoginValidator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccountValidator</servlet-name>
        <url-pattern>/CreateAccountValidator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BalanceProvider</servlet-name>
        <url-pattern>/BalanceProvider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransactionProvider</servlet-name>
        <url-pattern>/TransactionProvider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateFDValidator</servlet-name>
        <url-pattern>/CreateFDValidator</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
